
{% extends "base.html" %}
{% load static %}
{% block title %}EhizBlog{% endblock title %}

{% block content %}
{% include 'pillars/hero.html' %}
 	<div class="container home">
      <div class="header my-4">
        <h2 class="text-center animate__animated animate__bounce"><i class="bi bi-journal-bookmark"></i> Stories that Touch <i class="bi bi-journals"></i></h2>
      </div>
	    <div class="row">
	      <div class="col-md-8">
	        {% for post in posts %}
	        <div class="card card-signin my-4 mx-4 shadow">
	          <div class="card-body">
              <div>
                <img src="{{ post.user_name.profile.image.url }}" class="rounded-circle" width="30" height="30" alt="">
                <b>{{ post.user_name }}</b>
              </div>
              <div class="cont">
                <img class="card-img-top" src="{{ post.pic.url }}" alt="">
                <br>
                <div class="conti">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <small class="text">{{ post.date_posted }}</small>
                  <p class="card-text ">{{ post.description|slice:":100" }}</p>
                  <a href="{% url 'post-detail' post.id %}">read more </a>
                </div>
              </div>
	          	<br>
              
	          </div>
	          <div class="card-footer">
              <i class="bi bi-hand-thumbs-up"></i> {{post.likes.count}} 
              <i class="bi bi-chat-left-text"></i> {{ post.details.count }}
	          </div>
	        </div>
	        {% endfor %}
	  	  </div>
        <div class="col-md-4 float-right about">
          <div class="card my-4 mx-4">
                  <h5 class="card-header text-center">About I</h5>
              <div class="card-body">
                  <p class="card-text"> Ehiz is a tech enthusiat with an eye for detail and picture perfect finish, he desires to be a key component in the nigerian tech world.  </p>
                  <div class="d-flex flex-row social-icon justify-content-around">
                    <a class="nav-link github" href="https://github.com/EhizBishop" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                    <a class="nav-link twitter"  href="https://twitter.com/SoulofMischeif" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                    <a class="nav-link ig" href="#"><i class="bi bi-instagram bi-2x"></i></a>
                    <a class="nav-link whatsapp" href="http://wa.me/2348052750517" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
              </div>
              </div>
          </div>
          </div>
	    </div>
       
	</div>

{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    <a id="back-to-top" href="" class="btn btn-light btn-lg back-to-top" role="button"><i class="bi bi-chevron-up"></i></a>
{% endblock content %}

{% block jsfiles %}
<script>
	$(".like").click(function (e) {
    var id = this.id;
    var href = $('.like').find('a').attr('href');
    e.preventDefault();

    $.ajax({
        url: href,
        data: {
          'likeId': id
        },
        success: function(response){
          if(response.liked){
            $('#likebtn' + id).html("Unlike");
            $('#likebtn' + id).css("color", "red")
          }
          else{
            $('#likebtn' + id).html("Like");
            $('#likebtn' + id).css("color", "green")
          }
        }
      })
});
</script>
{% endblock jsfiles %}